.imageContainer {
    position: relative;
    width: 100%;
    height: 100vh; /* Full viewport height */
  }
  
  .backgroundImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .foregroundImage {
    position: absolute;
    top: 30%; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    width: 70%; /* Adjust width of the game name */
    max-width: 1200px; /* Limit maximum width */
  }
  
  .buttonContainer {
    justify-items: center;
    top: 110%; /* Adjust as needed */
    left: 50%;
    transform: translate(-50%, -50%);
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    gap: 30px; /* Increased space between buttons */
  }
  
  .button {
    background: none;
    border: none;
    cursor: pointer;
    width: 600px; /* Increased button width */
    height: 240px; /* Increased button height */
  }